<div class="row border-radius">
                <div class="settings shadow">
                    <div class="settings_title">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="settings_content">
                        <form>
                            <div class="pi-input pi-input-lgg">
                                <span>Current password</span>
                                <input type="password" value="SocialNetwork" />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>New Pasword</span>
                                <input type="password" placeholder="New password here.." />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Confirm New Pasword</span>
                                <input type="password" placeholder="New password here.." />
                            </div>
                            

                            <button>Change Password Now!</button>
                        </form>
                    </div>
                </div>
            </div>