
<div class="all">
  <div class="rowfixed"></div>
  <div class="left_row">
    <div class="left_row_profile">
      <img id="portada" src="../../assets/images/portada.jpg" />
      <div class="left_row_profile">
        <img id="profile_pic" src="../../assets/images/user.jpg" />
        <span
          >Jonh Hamstrong<br />
          <p>150k followers / 50 follow</p></span
        >
      </div>
    </div>
    <div class="rowmenu">
      <ul>
        <li>
          <a routerLink="/newsfeed"><i class="fa fa-globe"></i>Newsfeed</a>
        </li>
        <li>
          <a routerLink="/profile" id="rowmenu-selected"
            ><i class="fa fa-user"></i>Profile</a
          >
        </li>
        <li>
          <a routerLink="/friends"><i class="fa fa-users"></i>Friends</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right_row" style="width: 80%;">
    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <span
            ><a routerLink="/profile" id="select_profile_menu"
              ><b>Profile</b></a
            >
            | <a routerLink="/about"><b>About</b></a> |
            <a routerLink="/photos"><b>Photos</b>
            </a> | 
            <a routerLink="/followers" ><b>followers</b>
            </a> |
            <a routerLink="/followings" ><b>followings</b>
            </a>
            </span
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="publish">
        <div class="row_title">
          <span
            ><i class="fa fa-newspaper-o" aria-hidden="true"></i> Status</span
          >
        </div>
        <form method="" action="/">
          <div class="publish_textarea">
            <img
              class="border-radius-image"
              src="../../assets/images/user.jpg"
              alt=""
            />
            <textarea
              type="text"
              placeholder="¿Whats up, Jonh?"
              style="resize: none"
            ></textarea>
          </div>
          <div class="publish_icons">
            <ul>
              <li><i class="fa fa-camera"></i></li>
              <li><i class="fa fa-video-camera"></i></li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
            </ul>
            <button>Publish</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <img src="../../assets/images/user.jpg" alt="" />
          <span
            ><b>Jonh Hamstrong</b> shared a <a routerLink="/newsfeed">photo</a
            ><br />
            <p>March 2 at 6:05pm</p></span
          >
        </div>
        <div class="feed_content">
          <div class="feed_content_image">
            <a routerLink="/newsfeed"
              ><img src="../../assets/images/user.jpg" alt=""
            /></a>
          </div>
        </div>
        <div class="feed_footer">
          <ul class="feed_footer_left">
            <li class="hover-orange selected-orange">
              <i class="fa fa-heart"></i> 22k
            </li>
            <li>
              <span><b>Jimmy, Andrea</b> and 47 more liked this</span>
            </li>
          </ul>
          <ul class="feed_footer_right">
            <li class="hover-orange selected-orange">
              <i class="fa fa-share"></i> 7k
            </li>
            <a routerLink="/newsfeed" style="color: #515365"
              ><li class="hover-orange">
                <i class="fa fa-comments-o"></i> 74 comments
              </li></a
            >
          </ul>
        </div>
      </div>
    </div>

    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <img src="../../assets/images/user.jpg" alt="" />
          <span
            ><b>Jonh Hamstrong</b> shared a <a routerLink="/newsfeed">video</a
            ><br />
            <p>March 1 at 3:53pm</p></span
          >
        </div>
        <div class="feed_content">
          <div class="feed_content_image">
            <iframe
              src="https://www.youtube.com/embed/jR8L9UyExH4"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="feed_footer">
          <ul class="feed_footer_left">
            <li class="hover-orange selected-orange">
              <i class="fa fa-heart"></i> 1k
            </li>
            <li>
              <span><b>Jimmy, Andrea</b> and 47 more liked this</span>
            </li>
          </ul>
          <ul class="feed_footer_right">
            <li class="hover-orange selected-orange">
              <i class="fa fa-share"></i> 177
            </li>
            <a routerLink="/newsfeed" style="color: #515365"
              ><li class="hover-orange">
                <i class="fa fa-comments-o"></i> 12 comments
              </li></a
            >
          </ul>
        </div>
      </div>
    </div>

    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <img src="../../assets/images/user-6.jpg" alt="" />
          <span
            ><b>Valentine Krashe</b> for
            <a href="profile.html">Jonh Hamstrong</a><br />
            <p>April 1 at 7:01am</p></span
          >
        </div>
        <div class="feed_content">
          <div class="feed_content_image">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum. Sed ut perspiciatis unde omnis iste natus
              error sit voluptatem accusantium doloremque.
            </p>
          </div>
        </div>
        <div class="feed_footer">
          <ul class="feed_footer_left">
            <li class="hover-orange selected-orange">
              <i class="fa fa-heart"></i> 159
            </li>
            <li>
              <span><b>Jimmy, Andrea</b> and 157 more liked this</span>
            </li>
          </ul>
          <ul class="feed_footer_right">
            <li class="hover-orange selected-orange">
              <i class="fa fa-share"></i> 7k
            </li>
            <a routerLink="/newsfeed" style="color: #515365"
              ><li class="hover-orange">
                <i class="fa fa-comments-o"></i> 14 comments
              </li></a
            >
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
