<div class="row border-radius">
                <div class="settings shadow">
                    <div class="settings_title">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="settings_content">
                        <form>
                            <div class="pi-input pi-input-lg">
                                <span>First Name</span>
                                <input type="text" value="Jonh" />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Last Name</span>
                                <input type="text" value="Hamstrong" />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Your Email</span>
                                <input type="text" value="Jonh@yourmail.com" />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Your Website</span>
                                <input type="text" value="ferrule.space/" />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Your Birthday</span>
                                <input type="date" value="1985-01-08" />
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Your Phone Number</span>
                                <input type="text" />
                            </div>
                            <div class="pi-input pi-input-md">
                                <span>Your Country</span>
                                <select>
                                    <option selected>United State</option>
                                    <option>Argentina</option>
                                </select>
                            </div>
                            <div class="pi-input pi-input-md">
                                <span>Your State / Province</span>
                                <select>
                                    <option selected>California</option>
                                    <option>Texas</option>
                                </select>
                            </div>
                            <div class="pi-input pi-input-md">
                                <span>Your City</span>
                                <select>
                                    <option selected>San Francisco</option>
                                    <option>New York</option>
                                </select>
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Your Gender</span>
                                <select>
                                    <option selected>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="pi-input pi-input-lg">
                                <span>Status</span>
                                <select>
                                    <option selected>Married</option>
                                    <option>Not Married</option>
                                </select>
                            </div>
                            <div class="pi-input pi-input-lgg">
                                <span>Little description about you</span>
                                <input type="text" value="Hi, I’m Jonh, I’m 36 and I work as a Digital Designer..." />
                            </div>

                            <button>Save All Changes</button>
                        </form>
                    </div>
                </div>
            </div>