
<div class="all">
  <div class="rowfixed"></div>
  <div class="left_row">
    <div class="left_row_profile">
      <img id="portada" src="../../assets/images/portada.jpg" />
      <div class="left_row_profile">
        <img id="profile_pic" src="../../assets/images/user.jpg" />
        <span
          >Jonh Hamstrong<br />
          <p>150k followers / 50 follow</p></span
        >
      </div>
    </div>
    <div class="rowmenu">
      <ul>
        <li>
          <a routerLink="/newsfeed"><i class="fa fa-globe"></i>Newsfeed</a>
        </li>
        <li>
          <a routerLink="/profile" id="rowmenu-selected"
            ><i class="fa fa-user"></i>Profile</a
          >
        </li>
        <li>
          <a routerLink="/friends"><i class="fa fa-users"></i>Friends</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right_row">
    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <span
            ><a routerLink="/profile"><b>Profile</b></a> |
            <a routerLink="/about" id="select_profile_menu"><b>About</b></a> |
            <a routerLink="/photos"><b>Photos</b></a></span
          >
        </div>
      </div>
    </div>

    <div class="row border-radius">
      <div class="settings shadow">
        <div class="settings_title">
          <h3>Personal Info</h3>
        </div>
        <div class="settings_content">
          <style type="text/css">
            .settings_content ul li p {
              padding: 5px;
              padding-left: 20px;
            }
          </style>
          <ul>
            <li>
              <p>
                <b>About Me:</b>
                <br />
                Hi, I’m Jonh, I’m 36 and I work as a Digital Designer for the
                “Daydreams” Agency in Pier 56
              </p>
            </li>
            <li>
              <p>
                <b>Birthday:</b>
                <br />
                December 14th, 1980
              </p>
            </li>
            <li>
              <p>
                <b>Birthplace:</b>
                <br />
                Austin, Texas, USA
              </p>
            </li>
            <li>
              <p>
                <b>Lives in:</b>
                <br />
                San Francisco, California, USA
              </p>
            </li>
            <li>
              <p>
                <b>Occupation:</b>
                <br />
                UI/UX Designer
              </p>
            </li>
            <li>
              <p>
                <b>Joined:</b>
                <br />
                April 31st, 2014
              </p>
            </li>
            <li>
              <p>
                <b>Gender:</b>
                <br />
                Male
              </p>
            </li>
            <li>
              <p>
                <b>Status:</b>
                <br />
                Married
              </p>
            </li>
            <li>
              <p>
                <b>Email:</b>
                <br />
                Jonh@yourmail.com
              </p>
            </li>
            <li>
              <p>
                <b>Website:</b>
                <br />
                Ferrule.space/
              </p>
            </li>
            <li>
              <p>
                <b>Phone Number:</b>
                <br />
                (044) 555 - 4369 - 8957
              </p>
            </li>
            <li>
              <p>
                <b>Website:</b>
                <br />
                Ferrule.space/
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="suggestions_row">
    <div class="row shadow">
      <div class="row_title">
        <span>Last photos</span>
        <a routerLink="/photos">see all..</a>
      </div>
      <div class="row_contain_profilephotos">
        <ul>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_2.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_4.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_6.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_2.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_6.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_4.jpg" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row shadow">
      <div class="row_title">
        <span>Friends in Common</span>
        <a routerLink="/friends">17 more..</a>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user-7.jpg" alt="" />
        <span><b>Francine Smith</b><br />8 Friends in Common</span>
        <button>+</button>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user-2.jpg" alt="" />
        <span><b>Hugh Wilson</b><br />6 Friends in Common</span>
        <button>+</button>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user-6.jpg" alt="" />
        <span><b>Karen Masters</b><br />6 Friends in Common</span>
        <button>+</button>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user-7.jpg" alt="" />
        <span><b>Francine Smith</b><br />8 Friends in Common</span>
        <button>+</button>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user-2.jpg" alt="" />
        <span><b>Hugh Wilson</b><br />6 Friends in Common</span>
        <button>+</button>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user-6.jpg" alt="" />
        <span><b>Karen Masters</b><br />6 Friends in Common</span>
        <button>+</button>
      </div>
    </div>

    <div class="row shadow">
      <div class="row_title">
        <span>Recent Activity's</span>
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user.jpg" alt="" />
        <span
          >Jonh Hamstrong commented on Jason Mark’s
          <a  class="selected-orange">photo</a>..</span
        >
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user.jpg" alt="" />
        <span
          >Jonh Hamstrong liked Nicholas Grissom’s
          <a class="selected-orange">status update</a>..</span
        >
      </div>
      <div class="row_contain">
        <img src="../../assets/images/user.jpg" alt="" />
        <span
          >Jonh Hamstrong added 20 new photos to her
          <a  class="selected-orange">gallery album</a>..</span
        >
      </div>
    </div>
  </div>
</div>
