
<div class="all">
  <div class="rowfixed"></div>
  <div class="left_row">
    <div class="left_row_profile">
      <img id="portada" src="../../assets/images/portada.jpg" />
      <div class="left_row_profile">
        <img id="profile_pic" src="../../assets/images/user.jpg" />
        <span
          >Jonh Hamstrong<br />
          <p>150k followers / 50 follow</p></span
        >
      </div>
    </div>
    <div class="rowmenu">
      <ul>
        <li>
          <a routerLink="/newsfeed"><i class="fa fa-globe"></i>Newsfeed</a>
        </li>
        <li>
          <a routerLink="/profile"><i class="fa fa-user"></i>Profile</a>
        </li>
        <li>
          <a routerLink="/friends" id="rowmenu-selected"
            ><i class="fa fa-users"></i>Friends</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="right_row" style="width: 80%">
    <div class="row border-radius">
      <div class="friend">
        <div class="friend_title">
          <img src="../../assets/images/user-7.jpg" alt="" />
          <span
            ><b>Tamara Romanoff</b><br />
            <p>4 Friends in Common</p></span
          >
          <button class="add-friend">Add</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-2.jpg" alt="" />
          <span
            ><b>Tony Stevens</b><br />
            <p>2 Friends in Common</p></span
          >
          <button class="add-friend">Add</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-3.jpg" alt="" />
          <span
            ><b>Stagg Clothing</b><br />
            <p>1 Friends in Common</p></span
          >
          <button class="add-friend">Add</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-6.jpg" alt="" />
          <span
            ><b>Tamara Romanoff</b><br />
            <p>4 Friends in Common</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-4.jpg" alt="" />
          <span
            ><b>Tony Stevens</b><br />
            <p>Mutual Friend: Sarah Hetfield</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-5.jpg" alt="" />
          <span
            ><b>Stagg Clothing</b><br />
            <p>Mutual Friend: Tony Stevens</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-7.jpg" alt="" />
          <span
            ><b>Tamara Romanoff</b><br />
            <p>4 Friends in Common</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-2.jpg" alt="" />
          <span
            ><b>Tony Stevens</b><br />
            <p>Mutual Friend: Sarah Hetfield</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-3.jpg" alt="" />
          <span
            ><b>Stagg Clothing</b><br />
            <p>Mutual Friend: Tony Stevens</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-3.jpg" alt="" />
          <span
            ><b>Stagg Clothing</b><br />
            <p>1 Friends in Common</p></span
          >
          <button class="add-friend">Add</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-6.jpg" alt="" />
          <span
            ><b>Tamara Romanoff</b><br />
            <p>4 Friends in Common</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-4.jpg" alt="" />
          <span
            ><b>Tony Stevens</b><br />
            <p>Mutual Friend: Sarah Hetfield</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-5.jpg" alt="" />
          <span
            ><b>Stagg Clothing</b><br />
            <p>Mutual Friend: Tony Stevens</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-7.jpg" alt="" />
          <span
            ><b>Tamara Romanoff</b><br />
            <p>4 Friends in Common</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-2.jpg" alt="" />
          <span
            ><b>Tony Stevens</b><br />
            <p>Mutual Friend: Sarah Hetfield</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
        <div class="friend_title">
          <img src="../../assets/images/user-3.jpg" alt="" />
          <span
            ><b>Stagg Clothing</b><br />
            <p>Mutual Friend: Tony Stevens</p></span
          >
          <button class="delete-friend">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
