<div class="all">

        <div class="rowfixed"></div>
        <div class="left_row">
            <div class="left_row_profile">
                <img id="portada" src="../../../assets/images/portada.jpg" />
                <div class="left_row_profile">
                    <img id="profile_pic" src="../../../assets/images/user.jpg" />
                    <span>Jonh Hamstrong<br><p>150k followers / 50 follow</p></span>
                </div>
            </div>
            <div class="rowmenu">
                <ul>
                    <li><a routerLink="newsfeed"><i class="fa fa-globe"></i>Newsfeed</a></li>
                    <li><a routerLink="/profile"><i class="fa fa-user"></i>Profile</a></li>
                    <li><a routerlink="/friends"><i class="fa fa-users"></i>Friends</a></li>
                    
                </ul>
            </div>
        </div>



        

        <div class="right_row">

            <app-personal-info></app-personal-info>
            <app-change-password></app-change-password>
        </div>

        <div class="suggestions_row">
            <div class="row shadow">
                <div class="row_title">
                    <span>Profile Settings</span>
                </div>
                <div class="menusetting_contain">
                    <ul>
                        <li>
                            <a  id="settings-select">Personal Information</a>
                        </li>
                        
                        <li>
                            <a id="settings-select">Change Password</a>
                        </li>
                       
                    </ul>
                </div>
            </div>


            <div class="row shadow">
                <div class="row_title">
                    <span>Pages You May Like</span>
                    <a >see more..</a>
                </div>
                <div class="row_contain">
                    <img src="../../../assets/images/group-1.png" alt="" />
                    <span><a ><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
                </div>
                <div class="row_contain">
                    <img src="../../../assets/images/group-2.jpg" alt="" />
                    <span><a ><b>Caverna Roch</b></a><br>Rock / Band</span>
                </div>
                <div class="row_contain">
                    <img src="../../../assets/images/group-3.png" alt="" />
                    <span><a ><b>Pixel Digital Design</b></a><br>Company</span>
                </div>
                <div class="row_contain">
                    <img src="../../../assets/images/group-1.png" alt="" />
                    <span><a ><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
                </div>
                <div class="row_contain">
                    <img src="../../../assets/images/group-2.jpg" alt="" />
                    <span><a ><b>Caverna Roch</b></a><br>Rock / Band</span>
                </div>
                <div class="row_contain">
                    <img src="../../../assets/images/group-3.png" alt="" />
                    <span><a ><b>Pixel Digital Design</b></a><br>Company</span>
                </div>
            </div>
        </div>
    </div>
