<div class="all">
  <div class="rowfixed"></div>
  <div class="left_row">
    <div class="left_row_profile">
      <img id="portada" src="../../assets/images/portada.jpg" />
      <div class="left_row_profile">
        <img id="profile_pic" src="../../assets/images/user.jpg" />
        <span
          >Jonh Hamstrong<br />
          <p>150k followers / 50 follow</p></span
        >
      </div>
    </div>
    <div class="rowmenu">
      <ul>
        <li>
          <a routerLink="/newsfeed"><i class="fa fa-globe"></i>Newsfeed</a>
        </li>
        <li>
          <a routerLink="/profile" id="rowmenu-selected"
            ><i class="fa fa-user"></i>Profile</a
          >
        </li>
        <li>
          <a routerLink="/friends"><i class="fa fa-users"></i>Friends</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right_row" style="width: 80%">
    <div class="row border-radius">
      <div class="feed">
        <div class="feed_title">
          <span
            ><a routerLink="/profile"><b>Profile</b></a> |
            <a routerLink="/about"><b>About</b></a> |
            <a routerLink="/photos" id="select_profile_menu"><b>Photos</b> </a>
            | <a routerLink="/followers"><b>followers</b> </a> |
            <a routerLink="/followings"><b>followings</b> </a>
          </span>
        </div>
      </div>
    </div>

    <div class="row shadow">
      <div class="row_title">
        <span>Photos</span>
      </div>
      <div class="row_contain_profilephotospage">
        <ul>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_2.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_4.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_6.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_2.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_6.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_4.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_6.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_4.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_4.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_6.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_3.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_1.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/pp_2.jpg" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
